.custom-navbar {
  background-color: #0b4b8b!important;
  padding: 1rem;
}

.custom-navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.custom-navbar .nav-link {
  color: #a9bdd1;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.custom-navbar .nav-link:hover {
  color: #007bff;
}